$main_color: aqua;
$bg_color: #003C72;
$btn_bg_color: green;
$btn_bg_color: green;
$border_color: #01FFFF;
$card_bg_color: #0e709D;

.white {
  color: #fff;
}
.main_header {
  display: flex;
  justify-content: center;

  background-color: #48B7FF!important;
}

.tcl_button {
  padding: 10px 45px;

  color: #1E73D8;
  font-size: 16px;
  border-radius: 20px;
  background-color: #fff;
}
